
.home
{
	background-color: #000;
	padding: 4%;
	color: white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
}

img {
  margin-top: -1%;
}

.header {
  padding-bottom: 2%;
  margin-top: -2%;
}

.header:hover {
  curser: pointer;
}

h1 {
  display: inline;
  margin-left: 5%;
  padding-top: 0%;
  padding: 1%;
  margin-bottom: 3%;
}

.logo {
  background: url(logo.png);
}

h1:hover {
  color: rgba( 100, 100, 100, 10);
  text-decoration: underline;
}

h1:hover {
  curser: pointer;
}

a
{
	color: #0CC5DA;
	text-decoration: none;
}

a:hover
{
	color: #DCE808;
	text-decoration: underline;
}

div.header:hover {
  curser: pointer;
}

p
{
  margin: 0 auto;
  width: 960px;
  margin-top: 1%;
  text-align: center;
}

p.larger
{
  font-size: 1.1em;
}

.container
{
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.container span
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
}

.container ul, .container li
{
	padding: 0;
	margin: 0;
	list-style: none;
}

.container li
{
	display: none;
}

.container li.active
{
	display: inline;
  margin-left: 4%;
}
