
<!-- Navigation -->
      <!-- Place Pat's navigation bar at the top of this page. -->


    <!-- Half Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/9GLUSR55H4.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Harold Jorgson</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('https://static.pexels.com/photos/522/person-woman-art-creative-medium.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Angela Rivera</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('https://static.pexels.com/photos/1660/art-creative-metal-creativity-medium.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Joseph Durnell</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1>About</h1>
                <p>@rtMarket was founded in 2015 in an effort to connect local artists with their communities by giving them an opportunity to immediately present finished works to a large audience.  We currently exhibit a broad range of contemporary art in a variety of media, including painting, sculpture, photography, printmaking, and ceramics.</p>

                <h3>Mission Statement</h3>
                <p>Our mission is to connect local artists with those are inspired by their art.</p>

                <h3>Purpose</h3>
                Our three driving goals are to:
                <ul>
                  <li>Create a visually pleasing online venue where artists can exhibit and sell their art.</li>
                  <li>Represent and promote the work of local artists through our website and community partners.</li>
                  <li>Provide high-quality events for the community including artist talks, workshops and art walks.</li>
                </ul>
              </p>

                <h3>The Founders</h3>
                <p>Patrick Kelly - Wyncode Academy student, art lover and web developer.</p>
                <p>Mashon Thomas - Wyncode Academy student, art lover and web developer.</p>
                <p>Robert Cardona - Wyncode Academy student, art lover and web developer.</p>

                <h3>Contact</h3>
                <a href="mailto:name@email.com">artmarket@am.co</a><br>
                <br>
                <a href="https://twitter.com/twitter" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @twitter</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; @rtmarket 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->
    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
