<html class="homepage">
<head>

<link rel="stylesheet" type="text/css" href="homepage.css">
<script language="javascript" type="text/javascript" src="jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="homepage.js"></script>

</head>

<body>
<div class="container" id="container">
		<ul>
			<li class="active"><img src="http://www.abikoyeolufemi.com/wp-content/uploads/2014/10/StarryNight2436.jpg" alt="" /></li>
			<li><img src="http://www.hdwallpapersinn.com/wp-content/uploads/2014/11/famous-painting-art-wallpaper-hd-famous-paintings-sunday-afternoon-hd-widescreen-high-definition.jpg" alt="" /></li>
			<li><img src="http://infopeake.org/blog/wp-content/uploads/2015/02/The-Water-Lily-Pond-Pink-Harmony1.jpg" alt="" /></li>
			<li><img src="http://webneel.com/daily/sites/default/files/images/daily/09-2013/1-the-temptation-surreal-painting-by-salvador-dali.jpg" alt="" /></li>
		</ul>
</div>

<p class="larger">Created by: <a href="http://burnmind.com/tutorials/blinds-transition-slideshow-jquery">Pat Kelly, Mashon Thomas, and Robert Cardona</a> @ <a href="http://burnmind.com/">Wyncode</a></p>

<p>photos by <a href="http://www.flickr.com/photos/zoutedrop/">Local Artists</a></p>
</body>
</html>
