<!DOCTYPE html>
<html>
<head>
  <title>Artmarket</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <div class="header" id="header">
    <span><img class="logo" src='http://i946.photobucket.com/albums/ad303/pkellz6/logo3_zpsc8opuhna.png'></span>
    <a class="index" href='products'><h1 class="home">Gallery</h1></a> <a class="index" href="artists"><h1 class="home">Artists</h1></a> <a class="index" href="abouts"><h1 class="home">About Us</h1></a>
  </div>
</head>
<body>

<%= yield %>

</body>
</html>
